.blogs-page {
    padding: 100px 0 0 0;
    @media (max-width: $max-9) {
        padding: 80px 0 0 0;
    }
    @media (max-width: $max-5) {
        padding: 60px 0 0 0;
    }
    .blog {
        .blog-card {
            margin-bottom: 50px !important;
            @media (max-width: $max-9) {
                margin-bottom: 40px !important;
            }
            @media (max-width: $max-5) {
                margin-bottom: 30px !important;
            }
        }
    }
}

.one-blog {
    padding: 25px 15px 100px 15px;
    color: #FFF;
    @media (max-width: $max-9) {
        padding: 25px 15px 80px 15px;
    }
    @media (max-width: $max-5) {
        padding: 20px 15px 60px 15px;
    }
}